
html{
    /*overflow-y: hidden;*/
}
#left-nav-id::-webkit-scrollbar{
	width: 0px;
}
.nav-horizontal{
	position: fixed;
	top: 0px;
	width: 100%;
}
/*text-color*/
.text-grey{
	color:#666666;
}
.text-light{
	color:#999;
}
.text-red{
	color:red;
}
.text-orange{
	color:#FFCC00;
}
.el-form-item__label,.el-checkbox{
	color:#666666;
}
/*background-color*/

/*text-size*/
.text-small{
	font-size:12px;
}
/*text-position*/
.text-center{
	text-align: center;
}
.text-r{
	text-align:right
}
.text-l{
	text-align:left
}
/*border*/
.el-input__inner,.el-textarea__inner{
	border:solid 1px #e4e4e4;
}
.border-b{
	border-bottom:solid 1px #e4e4e4;
}
.btn-border{
	border:solid 1px #e4e4e4;
}
.btn-normal{
	width:88px;
}
.w-116{
	width:116px;
}
/*margin,padding*/
.m-15{
    margin:15px;
}
.m-l-0{
    margin-left:0;
}
.m-l-9{
    margin-left:9px;
}
.m-l-20{
    margin-left:20px;
}
.m-r-5{
    margin-right:5px;
}
.m-l-5{
    margin-left:5px;
}
.m-r-10{
    margin-right:10px;
}
.m-r-20{
    margin-right:20px;
}
.m-r-40{
    margin-right:40px;
}
.m-t-20{
    margin-top:20px;
}
.m-b-20{
    margin-bottom:20px;
}
.p-l-10{
    padding-left:10px;
}
.p-l-20{
    padding-left:20px;
}
.p-r-5{
    padding-right:5px;
}
.p-r-10{
    padding-right:10px;
}
.p-r-20{
    padding-right:20px;
}
.p-t-20{
    padding-top:20px;
}
.p-b-20{
    padding-bottom:20px;
}
.p-0{
    padding:0;
}
/*鼠标指针*/
.pointer{
	cursor:pointer;
}
.f-r{
    float:right;
}
.f-l{
    float:left;
}
.main-right-inner{
  width: 96%;
  min-width: 1060px;
}
.section-content{
  width: 96%;
  min-width: 1060px;
}
/*header*/
.page-header{
    background:#f3f3f3;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #e4e4e4;
}
.page-header .header-content{
    display: flex;
    align-items: center;
    min-width:1000px;
    width:96%;
}
.page-header .header-content .pageTitle{
    height:50px;
    line-height: 50px;
    color:#999999;
    display: flex;
    align-items: center;
    flex:1;
    font-size:14px;
}
.page-header .header-content .pageTitle i{
    display: block;
    height:15px;
    width:3px;
    margin-right:8px;
}
.page-header .header-content .refresh .el-button{
    color:#999999;
}
.section-content{
    min-width:1000px;
    width:96%;
    overflow-x:hidden;
}
.main-right-inner{
    min-width:1000px;
    width:96%;
    overflow-x:hidden;
}
.main-right-inner .main-cont form{
    min-width:840px;
    width:85%;
    margin:0 auto;
}
.el-table-diy{
    margin-top:1rem;
}
.el-table-diy .table-header{
    background: #f3f3f3;
    height: 47px;
    line-height: 46px;
    padding:0 20px;
    color:#666666;
    font-size:14px;
    /*border-top:solid 1px #E4E4E4;*/
    /*border-left:solid 1px #E4E4E4;*/
    /*border-right:solid 1px #E4E4E4;*/
}
.el-table-diy .table-header .header-title{
    text-align: left;
    height: 46px;
}
.el-table-diy .table-header .el-button{
    color:#999999;
}
.el-table-diy .table-header .text-blue{
    color:#20a0ff;
}
.el-table-diy .table-content{
    width:100%;
    background: #ffffff;
}
.el-table-diy.filterQuery .table-content{
    /*border:solid 1px #E4E4E4;*/
}
.el-table-diy .table-content.collapse-el{
    margin-top: 1px;
    transform:translateY(-1px)
}
.el-table-diy .pageContent{
    background:#ffffff;
    border-bottom:solid 1px #E4E4E4;
    /*border-left:solid 1px #E4E4E4;*/
    /*border-right:solid 1px #E4E4E4;*/
    text-align: right;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*表单*/
.el-form-item__error{
	width: 600px;
	text-align: left;
}
.el-input__icon{
  color:#999999;
}
.el-select .el-input .el-input__icon{
  color:#999999;
}
.el-input__inner::-webkit-input-placeholder,.el-textarea__inner::-webkit-input-placeholder{
  color:#999999;
}
.el-input__inner::-moz-placeholder,.el-textarea__inner::-moz-placeholder{
  color:#999999;
}
.el-input__inner:-ms-input-placeholder,.el-textarea__inner:-ms-input-placeholder{
  color:#999999;
}
/*表头*/
/*.el-table{*/
    /*border:none !important;*/
/*}*/
.el-table th>.cell{
	text-align: center;
	font-weight: normal;
}
.el-form-item__error{
	width: 600px;
	text-align: left;
}
.topAlert{
	position: fixed;
	top:81px;
	z-index: 9999999;
	right:25%;
	width:50%;
}
.loginAlert{
	position: fixed;
	top:0;
	z-index: 9999999;
	right:25%;
	width:50%;
}
.dialogFormButton .el-form-item__content{
	margin-left:0px !important;
}
/*高德地图*/
.smallAmap{
	width:100%;
	height:500px;
}
/*按钮*/
.el-table-diy .table-header .self-btn-blue{
	background: #1c7bd9;
	color: #fff;
	border: 1px solid #1c7bd9;
}
.self-btn-blue,.self-btn-blue.el-button{
	background: #1c7bd9;
	color: #fff;
	border: 1px solid #1c7bd9;
}
.el-table-diy .table-header .self-btn-green{
	background: #42bc95;
	color: #fff;
	border: 1px solid #42bc95;
}
.self-btn-green,.self-btn-green.el-button{
	background: #42bc95;
	color: #fff;
	border: 1px solid #42bc95;
}

.el-table-diy .table-header .self-btn-white{
	background: #ffffff!important;
	color: #666666!important;
	border: solid 1px #cfcfcf!important;
}
.self-btn-white{
	background: #ffffff!important;
	color: #666666!important;
	border: solid 1px #cfcfcf!important;
}

.self-btn-red{
	background: #f04844!important;
	color: #ffffff!important;
	border: solid 1px #f04844!important;
}

.el-input__inner, .el-textarea__inner {
	border: solid 1px #cfcfcf;
}
/*查询页面*/
.commonSearchPage section{
    display: flex;
    justify-content: center;
}
.commonSearchPage .filterQuery .el-input{
    width:168px;
}
.commonSearchPage .filterQuery .el-select{
    width:168px;
}
.commonSearchPage .filterQuery .demo-form-inline{
    padding-left:20px;
    text-align: left;
    margin-top:20px;
}
.commonSearchPage .el-table{
    border:none !important;
}
.commonSearchPage .box-content-header{
    padding:6px 20px;
}
.commonSearchPage .box-content .el-table th{
    background: #E4EFFF;
}
.commonSearchPage .box-content .el-table__fixed-header-wrapper thead div{
    background: #E4EFFF;
}
.commonSearchPage .box-content .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div{
    background: #E4EFFF;
}
.commonSearchPage .el-table--border td:last-child, .el-table--border th:last-child, .el-table--border th.is-leaf:last-child{
    border-right:none !important;
}
.commonSearchPage .el-table::after{
    width:0;
}
.commonSearchPage .btn-normal{
    width:88px;
    margin-left:5px;
    margin-right:0px;
}
.commonSearchPage .btn-text.el-button{
    color:#3A8CFF;
    margin-right:10px;
}
.commonSearchPage .pageContent{
    background:#ffffff;
    text-align: right;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*表单页,添加,编辑*/
.formCommonPage section{

}
.formCommonPage .box-content .el-table th{
    background: #E4EFFF;
}
/*
.self-btn-blue.el-button:focus, .self-btn-blue.el-button:hover,
.self-btn-green.el-button:focus, .self-btn-green.el-button:hover{
	color: #ffffff;
	!*border-color: #000000!important;*!
	border: 0px solid red!important;
}*/
/*表格固定列样式*/
.el-table__fixed-right{
    -webkit-box-shadow: 0px 0 0px transparent;
    box-shadow: 0px 0 0px transparent
    /*-webkit-box-shadow: 1px 0 8px #d3d4d6;
    box-shadow: -1px 0 8px #d3d4d6;*/
}
.td-fixed-border{
    border-left: 1px solid #dfe6ec;
}
.el-table__fixed-right::before, .el-table__fixed::before{
    height:0px;
}
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div{
    /*color:#666;*/
}
.data-tip{
    color:#666;
}
.data-tip.el-tooltip__popper.is-light{
    border:solid 1px #cfcfcf;
}
.data-tip.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow{
    border-top-color:#cfcfcf;
}
.data-tip.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow{
    border-right-color:#cfcfcf;
}
.settingBtn .eliconfont{
    margin-right:0;
}
